@import "../variables";

.button {
  display: inline-block;
  font: inherit;
  color: $white;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 12px;
  width: 6.5em;
  height: 2em;
  vertical-align: top;
  &.submit {
    background-color: $blue-water;
    margin-right: 20px;
  }
  &.cancel {
    background-color: transparent;
    border-color: $blue-water;
    color: $blue-water;
  }
  &:disabled {
    color: $light-grey;
  }
  &:hover {
    animation: bump 700ms ease-out 100ms infinite;
  }
  &:active {
    color: $turquoise;
  }
  &:focus {
    outline: none;
  }
  &.refresh {
    position: relative;
    top: 0;
    width: 20px;
    height: 20px;
    margin-left: 1em;
    border: 1px solid $blue;
    border-radius: 50%;
    border-right-color: transparent;
    transition: transform 1.9s ease-in-out;
    &::after {
      content: "";
      top: 0;
      position: absolute;
      border: 10px solid $white;
      border-bottom-color: $blue;
      border-right-width: 0;
      border-top-width: 0;
      border-left-color: transparent;
    }
  }
  &:disabled {
    animation: none;
    opacity: 0.5;
    &:hover {
      transform: none;
    }
  }
}
