@import "../variables";

.button {
  display: inline-block;
  font: inherit;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 12px;
  width: 6.5em;
  height: 2em;
  vertical-align: top;
  &.submit {
    background-color: $blue-water;
    margin-right: 20px;
  }
  &.cancel {
    background-color: transparent;
    border-color: $blue-water;
    color: $blue-water
  }
}



button:hover,
button:active {
  background: #741188;
  border-color: #741188;
}

button:focus {
  outline: none;
}
