@import "../variables";

.Input {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-bottom: 1.5em;
  &:disabled {
    border: 1px solid $light-grey;
    background-color: transparent;
    + label {
      color: $light-grey;
    }
  }
  span {
    color: $red;
  }

  .error {
    color: $red;
    flex-basis: 100%;
    margin-left: 100%;
    white-space: nowrap;
  }
  select {
    width: 10em;
  }
}

.errorInput {
  input {
    border: 1px solid $red;
    background-color: $cream;
    &:focus {
      border-color: $orange;
      background-color: $cream;
    }
  }
}
